h2 {
    color:blue
}
*{
    border:solid
}
.header {
    background-color: darkorange;
    display:flex;
    justify-content:space-between
}
.grid {
 display:flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}
.footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}